@charset "utf-8";

.wf-nicomoji {
    font-family: "Nico Moji";
}

/* 641px 以上 */
@media screen and (min-width:641px){
    aside{
        width: calc(50% - 20px);
        float:left;
    }
    #side:after{
        content:"";
        display:block;
        clear:both;
    }
}

/* 1025px 以上 */
@media screen and (min-width:1025px) {
    #main{
        max-width: 1024px;
        margin: auto;
    }
    section{
        width: calc(70% - 20px);
        float: left;
    }
    #side{
        width: calc(1024px - 718px);
        float: left;
    }
    aside{
        width: calc(100% - 20px);
    }
    #main::after{
        content:"";
        display: block;
        clear: both;
    }
}


body {
    background-color: gray;
    font-family: "Nico Moji";
}

header {
    padding: 10px;
    text-align: center;
    background-color: red;
}


section {
    padding: 10px;
    background-color: orange;
}

aside {
    padding: 10px;
    background-color: green;
}
    
footer {
    padding: 10px;
    background-color: blue;
    text-align: center;
}
